%li.archive-item
  %article.card
    = link_to article_path(article), class: "card-link" do
      = image_tag article.eye_catch_safe_path(:large), class: "card-image", alt: ""
      .card-bottom
        %h1.card-title
          = article.title
        %time.card-date{:datetime => article.created_at.strftime("%Y-%-m-%-d")}
          = article.created_at.strftime("%-d %b, %Y")
