.archive
  - if smart_listing.present?
    = pagination_page_indicator @smart_listings[:articles], "page-number" if action_name == "archive"

    %ul.archive-list
      - smart_listing.collection.each do |article|
        = render partial: "articles/article", locals: { article: article }

    = smart_listing.paginate if action_name == "archive"

  - else
    .callout
      %i.fi-clipboard-pencil
      = t("articles.not_found")
