- if smart_listing.present?
  %ul.archive.archive-admin
    - smart_listing.collection.each do |article|
      = render partial: "articles/article_item", locals: { article: article }

  = smart_listing.paginate

- else
  .callout
    %i.fi-clipboard-pencil
    = t("articles.not_found")
