%li.archive-item
  = link_to edit_article_path(article), class: "post-article" do
    %time.post-article-date{:datetime => article.created_at.strftime("%Y-%-m-%-d")}
      = article.created_at.strftime("%d %b, %Y")
    %h1.post-article-title
      = article.title
