= form_for @article, url: @article.new_record? ? admin_articles_path : admin_article_path(@article), html: { class: :form } do |f|
  = f.label :eye_catch, "EYE CATCH IMAGE", class: "form-title"
  .form-file.u-clear
    %span#form-filename
      = @article.eye_catch.original_filename if @article.persisted? && @article.eye_catch.exists?
    %span.form-file-button UPLOAD
  = f.file_field :eye_catch, class: "input input-image", accept: "image/*"

  = f.label :title, "TITLE", class: "form-title"
  .form-body
    = f.text_field :title, class: "input input-text"

  = f.label :contents, "CONTENTS", class: "form-title"
  .form-textarea
    = f.text_area :contents, class: "input input-contents", cols: "30", rows: "10"

  - unless flash[:alert].blank?
    = flash_messages :alert

  %label.form-button{ for: :submit }
    .button
      %p.button-text Submit
  = f.submit "", id: :submit, class: "input input-submit"

  = link_to admin_articles_path, class: "form-button" do
    .button
      %p.button-text Back
