.single
  = link_to @article.eye_catch_safe_path, target: :_blank, title: t("titles.view_original") do
    = image_tag @article.eye_catch_safe_path, class: "single-image", alt: ""
  .l-container.u-clear
    %h1.single-title
      = @article.title
    %time.single-date{:datetime => @article.created_at.strftime("%Y-%-m-%-d")}
      = @article.created_at.strftime("%-d %^b, %Y")
    %p.single-desc
      = @article.contents

    = link_to articles_path, class: "single-button" do
      .button
        %p.button-text Top
