-# Custom Pagination page indicator.

-# Available local variables:
-#   container_classes:  classes for the main container
-#   smart_listing:      current SmartListing instance

= content_tag :div, class: container_classes do
  - if smart_listing.options[:paginate]
    = t('views.pagination.page')
    = content_tag :span do
      = smart_listing.collection.current_page
      \/
      = smart_listing.collection.total_pages
