%header{:class => "l-header l-header-admin js-header"}
  .l-header-top.u-clear
    .l-header-logo
      = link_to articles_path, class: :logo do
        = image_tag "logo-admin.png", alt: "BLOG", width: "138", height: "28"

    .l-header-text
      = link_to admin_articles_path do
        %p ADMIN PAGE

      - if admin_signed_in?
        &nbsp;
        = link_to destroy_admin_session_path, method: :delete do
          %i.fi-power{ title: "Logout" }

.l-container.u-clear
  %main.l-main.js-main
    .l-main-block
    = flash_messages if !devise_controller? && flash.present? && flash[:alert].blank?
    = yield

%footer{:class => "l-footer l-footer-admin"}
  .l-footer-copyright
    %small.copyright &#169;copyright
