-# Link to the "Next" page
-# - available local variables
-#   url:           url to the next page
-#   current_page:  a page object for the currently displayed page
-#   total_pages:   total number of pages
-#   per_page:      number of items to fetch per page
-#   remote:        data-remote

= link_to url, rel: :next, remote: remote, class: "paginate-next#{' is-disable disabled' if current_page.last?}" do
  %span.paginate-next-arrow
