-# Link showing page number
-# - available local variables
-#   page:          a page object for "this" page
-#   url:           url to this page
-#   current_page:  a page object for the currently displayed page
-#   total_pages:   total number of pages
-#   per_page:      number of items to fetch per page
-#   remote:        data-remote

= link_to url, opts = { remote: remote, rel: page.next? ? 'next' : page.prev? ? 'prev' : nil, class: "#{'disabled' if page.current?}" } do
  %span{ class: "#{smart_listing_config.classes(:pagination_per_page)}#{' is-current' if page.current?}" }
    = page
