-# Link to the "Previous" page
-# - available local variables
-#   url:           url to the previous page
-#   current_page:  a page object for the currently displayed page
-#   total_pages:   total number of pages
-#   per_page:      number of items to fetch per page
-#   remote:        data-remote

= link_to url, rel: :prev, remote: remote, class: "paginate-prev#{' is-disable disabled' if current_page.first?}" do
  %span.paginate-prev-arrow
