= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: :form } do |f|
  = f.label :email, "USER ID", class: "form-title"
  = f.email_field :email, autofocus: true, class: "input input-text", placeholder: "example@example.com"

  = f.label :password, "PASSWORD", class: "form-title"
  = f.password_field :password, autocomplete: "off", class: "input input-text", placeholder: "******"

  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me

  - unless flash[:alert].blank?
    = flash_messages :alert

  %label{ for: :submit, class: "form-button" }
    .button
      %p.button-text Login
    = f.submit "", id: :submit, class: "input input-submit"

= render "devise/shared/links"
