- flash.to_h.each do |msg_type, message|
  - next if ( opts.present? && flash[opts].blank? ) || msg_type == 'timedout'

  .flash{class: "callout #{class_for(msg_type)}", id: "flash-#{msg_type}", "data-closable"=>""}
    %button.close-button{"aria-label" => "Dismiss alert", "data-close" => "", :type => "button"}
      %span{"aria-hidden" => "true"} &times;
    %i.icon{class: "fi-#{icon_for(msg_type)}"}
    = message.to_s.html_safe

- flash.clear
