%header{:class => "l-header js-header"}
  .l-header-top.u-clear
    .l-header-logo
      = link_to articles_path, class: :logo do
        = image_tag "logo.png", alt: "BLOG", width: "253", height: "28"

    .l-header-hamburger
      %a.hamburger.js-hamburger{:href => "#"}
        %span.hamburger-item
        %span.hamburger-item
        %span.hamburger-item

%nav.nav.js-nav
  %ul.nav-list
    %li.nav-item
      %a.nav-link{:href => articles_path} TOP
    %li.nav-item
      %a.nav-link{:href => "https://www.facebook.com/facebook/", :target => "_blank"} Facebook
    %li.nav-item
      %a.nav-link{:href => "https://twitter.com/twitter", :target => "_blank"} Twitter

.l-container.u-clear
  %main.l-main.js-main
    .l-main-block
    = yield

%footer{:class => "l-footer"}
  .l-footer-button
    %a.page-top.js-scroll{:href => "#js-body"}
      %span.page-top-arrow
  .l-footer-copyright
    %small.copyright &#169;copyright
