!!! 5
%html{:lang => 'jp', :class => 'no-js', :prefix => 'og: http://ogp.me/ns#'}
  %head
    %title
      = is_admin? ? 'ADMIN PAGE' : 'LIG BLOG'

    %meta{:content => "sample text,sample tex", :name => "description"}/
    %meta{:content => "word1,word2,word3", :name => "keywords"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "", :property => "og:title"}/
    %meta{:content => "sample text,sample tex", :property => "og:description"}/
    %meta{:content => "", :property => "og:url"}/
    %meta{:content => "", :property => "og:site_name"}/
    %meta{:content => "blog", :property => "og:type"}/
    %meta{:content => "", :property => "fb:admins"}/
    %meta{:content => "public/ogp.png", :property => "og:image"}/
    %meta{:content => "", :name => "apple-mobile-web-app-title"}/
    %link{:href => asset_path("common/favicon.ico"), :rel => "shortcut icon"}/
    %link{:href => asset_path("common/apple-touch-icon-precomposed.png"), :rel => "apple-touch-icon-precomposed"}/

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body#js-body

    #fb-root
    %noscript.for-no-js Javascriptを有効にしてください。
    .for-old お使いのOS・ブラウザでは、本サイトを適切に閲覧できない可能性があります。最新のブラウザをご利用ください。
    %input#js-base-url{:type => "hidden", :value => "./"}/

    .l-wrap.js-wrap
      = render "layouts#{is_admin? ? '/admin' : ''}/layout"

    = javascript_include_tag 'app', 'data-turbolinks-track': 'reload'
