!!! 5
<!--[if lt IE 9]>
%html{:lang => 'jp', :class => 'no-js lt-ie9', :prefix => 'og: http://ogp.me/ns#'}
<![endif]-->
<!--[if gt IE 9]><!-->
%html{:lang => 'jp', :class => 'no-js', :prefix => 'og: http://ogp.me/ns#'}
<!--<![endif]-->
  %head
    %style
      /* Email styles need to be inline */

  %body
    = yield
